.App {
  position: relative;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  padding: 10px;
  background: #454545;
}

.App-logo {
  height: calc(100vh - 20px);
  width: calc(1.29 * 100vh - 20px);
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: calc(50% - (1.29 * 100vh - 20px)/2);
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.human {
  animation: App-logo-spin infinite 1s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
